/* Color Palette */
$color1: #1e4024; /* Dark Blue */
$color2: #101926; /* Navy Blue */
$color3: #53A08E; /* Teal */
$color4: #7076C4; /* Purple */
$color5: #9B9EAE; /* Light Gray */
$color6: #FFFFFF; /* White */

/* Font Settings */
$font-h1: 'Roboto', sans-serif;      /* Font for h1 */
$font-h2: 'Open Sans', sans-serif;   /* Font for h2 */
$font-h3: 'Lora', serif;             /* Font for h3 */
$font-h4: 'Montserrat', sans-serif;  /* Font for h4 */
$font-h5: 'Merriweather', serif;     /* Font for h5 */
$font-h6: 'Nunito', sans-serif;      /* Font for h6 */
$font-p: 'Arial', sans-serif;        /* Font for paragraphs */