/* src/components/Sidebar/Sidebar.scss */

@import '../../styles/variables';

.sidebar-container {
  background-color: $color2;
  width: $sidebar-expanded-width; /* Use variable for expanded width */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  color: $color6;
  transition: width 0.3s ease;

  &.collapsed {
    width: $sidebar-collapsed-width; /* Use variable for collapsed width */

    .sidebar-title,
    p,
    h2,
    .sidebar-menu li span {
      opacity: 0;
      visibility: hidden;
    }

    .sidebar-menu li {
      justify-content: center;

      i {
        margin-right: 0; /* Center the icon when the text is hidden */
      }
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-title {
    margin: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .menu-icon {
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; /* Ensure it appears on top */
    position: absolute;
    top: 1rem;
    right: 0.5rem; /* Keep it close to the right edge */
    transform: translateX(50%); /* Slightly offset to the right */
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      font-family: $font-p;
      font-size: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      i {
        margin-right: 0.5rem;
        font-size: 1.5rem; /* Ensure icons are visible and appropriately sized */
      }

      span {
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      &:hover {
        color: $color4;
      }
    }
  }
}
