/* src/components/Header/HeaderMenu.scss */

@import '../../../styles/variables';

.header-menu-container {
  display: flex;
  border-radius: 30px;
  background-color: $color2; /* Container background color */
  align-items: center;
  padding: 0.4rem; /* Adjusted padding to make the container smoother */
}

.header-menu-button {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem; /* Reduce spacing between buttons */
  cursor: pointer;
  border: none;
  font-family: $font-h2;
  font-size: 1rem;
  background-color: transparent; /* Transparent so it inherits container background */
  color: $color6;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.active {
    background-color: $color1;
    color: $colorWhite;
  }

  svg {
    margin-right: 0.5rem;
  }

  &:last-child {
    margin-right: 0;
  }
}
